.create {
    height: 40%;
    width: 50%;
    background: #eee;
    display: flex;
    position: absolute;
    border: 1px solid black;
    border-radius: 2px ;
    margin: 0 auto;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    top: 25%;
    left: 25%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.name p{
    display: inline-block;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.name p:nth-child(2n){
    float: right;
    cursor: pointer;
}

.inputFieldsFolder{
    height: 150px;
    background: #afcfd03b;
}

.inputFieldsNote{
    height: 245px;
    background: #afcfd03b;
}

.inputTitleFolder input{
    margin-top: 50px;
}

.inputTitle input, .inputText textarea, .inputTitleFolder input {
    width: 90%;
    height: 28px;
    font: 2.3vw Snell Roundhand, cursive;
    border: 2px solid rgba(220,220,220,1);
    color: #2980b9;
    font-size: 18px;
    box-shadow: 1px 1px 3px 1px rgba(200,200,200, 0.2);
    padding: 0.3em;
}

.inputTitle input, .inputText textarea{
    margin-top: 13px;
}

.inputTitle, .inputText, .inputTitleFolder{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputText textarea{
    height: 150px;
}

.inputStyle::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.5s ease;}
.inputStyle::-moz-placeholder                {opacity: 1; transition: opacity 0.5s ease;}
.inputStyle:-moz-placeholder                 {opacity: 1; transition: opacity 0.5s ease;}
.inputStyle:-ms-input-placeholder            {opacity: 1; transition: opacity 0.5s ease;}
.inputStyle:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}
.inputStyle:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.5s ease;}
.inputStyle:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.5s ease;}
.inputStyle:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.5s ease;}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #9e9e9e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 17%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px 20px 11px 0;
    float: right;
    font-style: italic;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
